body {
    background: #f7f9fc;
    padding: 0;
    font-family: font-family, Avenir, Verdana, Hiragino Sans, Noto Sans CJK JP,
        sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wrap-container {
    box-sizing: border-box;
    max-width: 748px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    background-color: #01a0d5;
}

header .header-container {
    padding: 9px 10px 8px;
}

header .header-container .header-title {
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

.banner {
    background: #eff7fb;
    border: 1px solid #019ec4;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 720px;
    margin: 30px auto 5px;
    text-align: center;
}

.banner .banner-header {
    background: #01a0d5;
    padding: 11px 0 13px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.banner .banner-content {
    padding: 10px;
    color: #233143;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.banner .banner-header h3 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
}

.banner .banner-content h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #233143;
    text-align: center;
    margin: 0 auto 30px;
}

.text-hightlight {
    color: #ec6d65;
}

.text-prices {
    font-size: 32px;
    line-height: 24px;
    text-align: right;
    color: #233143;
}

.text-detail {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #233143;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.text-prices.text-hightlight {
    color: #ec6d65;
    font-size: 32px;
    text-align: center;
}

.text-notice {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #233143;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.tvc-button {
    margin-top: 11px;
    text-align: center;
}

.tvc-button a {
    color: #ffffff;
    padding: 11px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    outline: none;
    text-decoration: none;
    background: #01a0d5;
    border-radius: 20px;
    display: block;
    width: 240px;
    margin: 0 auto;
}

.toppage-content {
    padding: 30px 0;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
}

.toppage-content h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #233143;
    margin: 0;
}

.toppage-content .site-logo {
    margin: 0 0 14px;
}

.toppage-content .site-logo img {
    max-width: 100%;
}

.toppage-content .text-notice {
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.toppage-content p.advertising-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #233143;
    margin-bottom: 4px;
    margin-top: 0;
}

.toppage-content p.advertising-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #233143;
    margin-bottom: 4px;
    margin-top: 0;
}

.page-header {
    background: #01a0d5;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    padding: 16px 16px;
    text-align: center;
}

.page-header h4 {
    margin: 0;
}

.commic-content {
    text-align: center;
    padding: 50px 0 40px;
    background: #f7f9fc;
}

.commic-content h3 {
    margin-bottom: 40px;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #233143;
}

/* Comic item */
.comic-list {
    margin-bottom: 55px;
}

.comic-item {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 16px;
    text-align: center;
    margin-bottom: 5px;
}

.comic-item a {
    text-decoration: none;
}

.comic-item h4.comic-name {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #007ea8;
    margin-bottom: 35px;
    margin-top: 0;
}

.comic-item .comic-des {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #233143;
    margin: 0 auto 15px;
}

.comic-item .comic-thumb {
    margin-bottom: 20px;
}

.comic-item .comic-thumb img {
    max-width: 100%;
}

.comic-item a.comic-link {
    background: #01a0d5;
    border-radius: 22.5px;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    padding: 8px 0 7px;
    margin-bottom: 10px;
    position: relative;
}

.comic-item a.comic-link:hover {
    background: #1cc0f7;
}

.comic-item a.comic-link .icon-right {
    position: absolute;
    right: 12px;
    top: 5px;
    z-index: 10;
}

.comic-item a.comic-link .icon-right.mobile-only {
    display: none;
}

a.supported-link {
    background: #ffffff;
    border: 1px solid #4374b6;
    box-sizing: border-box;
    border-radius: 16px;
    display: block;
    max-width: 250px;
    margin: 0 auto 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4374b6;
    padding: 5px;
}

ul.newcomic-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

ul.newcomic-list li {
    text-align: left;
    width: 49.5%;
}

a.newcomic-item {
    display: flex;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.newcomic-item .newcomic-item-thumb {
    margin-right: 10px;
}

.newcomic-item .newcomic-item-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #233143;
    margin: 0 0 5px;
    /* height: 65px; */
}

.newcomic-item p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #233143;
    margin: 0;
}

a.loadmore-comic {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #4374b6;
    text-decoration: none;
}

a.loadmore-comic:hover {
    text-decoration: underline;
}

.newcomic-container {
    margin-bottom: 60px;
}

a.page-header-link {
    background: #ffffff;
    border: 1px solid #01a0d5;
    box-sizing: border-box;
    border-radius: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #01a0d5;
    display: block;
    max-width: 360px;
    margin: 25px auto 15px;
    padding: 10px 0;
}

ul.comic-guide-list {
    list-style: none;
    padding: 0;
    margin: 0 -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.guide-item {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px 14px;
    text-align: center;
    margin: 0 5px;
    min-width: 125px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #233143;
    position: relative;
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
}

.flex-auto {
    flex: auto;
}

.flex-w50 {
    flex: 0 0 50%;
}

.guide-item .arrow-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
    opacity: 0.5;
}

.guide-item:hover .arrow-icon {
    opacity: 1;
}

.guide-item.with-thumb {
    display: flex;
    align-items: center;
    padding: 0;
}

.guide-item.with-thumb .arrow-icon {
    right: 17px;
}

.guide-item .guide-thumb {
    margin-right: 20px;
    border-right: 1px solid #e0e0e0;
}

.end-section {
    padding: 15px 0 60px;
    background: #fff;
}

/* advertising-list */
.advertising-list {
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.advertising-item {
    background: #eff7fb;
    border: 1px solid #01a0d5;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #233143;
    padding: 15px 20px 15px 40px;
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.advertising-item .advertising-liststyle {
    position: absolute;
    left: 16px;
    top: 13px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #01a0d5;
}

.end-section h3 {
    margin-bottom: 40px;
}

.advertising-item span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #233143;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin: 4px 0 0 0;
    display: block;
}

/* Footer */
footer {
    background: #eff7fb;
    text-align: center;
}

.footer-content {
    padding: 47px 0 0;
}

.footer-content a {
    color: #007ea8;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    margin: 0;
}

.footer-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #233143;
    margin-bottom: 6px;
    margin-top: 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content .footer-links {
    display: flex;
    justify-content: center;
    margin: 23px 0 0;
    flex-wrap: wrap;
}

.footer-content .footer-links li {
    margin: 0 15px;
}

.footer-content .footer-links span.link-space {
    margin: 0 5px 0 5px;
}

.footer-content h6.footer-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #233143;
    margin-bottom: 15px;
    margin-top: 0;
}

.footer-groups {
    margin-bottom: 43px;
}

.footer-bottom-content {
    text-align: center;
    padding: 10px;
    background: #01a0d5;
}

.footer-bottom-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.width-w50 {
    width: 50%;
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.price-container-left {
    display: flex;
    margin-right: 40px;
    /* justify-content: space-around; */
}

.price-container-left .text-prices {
    margin: 0 10px;
}
.price-container-right .text-prices {
    margin: 0 10px;
}

.price-container .text-detail {
    margin: 5px 0 0 0;
    text-align: left;
}

.text-detail.text-center {
    text-align: center;
}

.price-container-right {
    display: flex;
    margin-left: 40px;
    align-items: flex-start;
}

.price-container.long-text-style {
    max-width: 520px;
    margin: 0 auto;
}

.price-unit {
    font-size: 20px;
}

.line-through {
    text-decoration-line: line-through;
}

.fancybox-data {
    display: none;
}

.ellipsis-box {
    overflow: hidden;
    height: 40px;
}

@media only screen and (min-width: 769px) {
    .price-container {
        max-width: 85%;
        margin: 0 auto;
    }
    .price-container-left {
        justify-content: flex-end;
        justify-content: space-evenly;
        flex: 1;
    }
    .price-container-right {
        justify-content: flex-start;
        justify-content: space-evenly;
        flex: 1;
    }
}

@media only screen and (max-width: 768px) {
    .advertising-item {
        margin-bottom: 5px;
    }
    .advertising-item span {
        display: inline;
    }
    .page-header {
        padding: 10px;
        font-size: 14px;
        line-height: 24px;
    }
    ul.comic-guide-list {
        flex-direction: column;
        margin: 0;
    }
    .comic-guide-list .guide-item {
        margin: 0 0 5px 0;
    }
    ul.newcomic-list {
        flex-direction: column;
    }
    ul.newcomic-list li {
        width: 100%;
    }
    a.newcomic-item {
        margin-bottom: 5px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 35px;
    }
    .comic-item h4.comic-name {
        margin-bottom: 15px;
    }
    /* .comic-item a.comic-link {
        background: #ffffff;
        border: 1px solid #dde2e9;
        box-sizing: border-box;
        border-radius: 22px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #233143;
        padding: 10px 0;
    }

    .comic-item a.comic-link .icon-right {
        display: none;
        top: 9px;
    }

    .comic-item a.comic-link .icon-right.mobile-only {
        display: block;
    } */
    .comic-list {
        padding: 0 12px;
    }
    .toppage-content {
        padding-bottom: 0;
    }
    .toppage-content h3 {
        font-size: 15px;
    }
    .toppage-content p.advertising-title {
        font-size: 15px;
    }
    header .header-container .header-title {
        font-size: 20px;
        line-height: 30px;
    }
    .banner .banner-header h3 {
        font-size: 16px;
        line-height: 24px;
        padding: 0 13px;
    }
    .banner .banner-content h4 {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .price-container {
        flex-direction: column;
        align-items: center;
    }
    .price-container-left {
        margin-right: 0;
    }
    .price-container-right {
        margin-left: 0;
    }
    .price-container-center {
        transform: rotate(90deg);
        margin: 8px 0 16px;
    }
    .toppage-content p.advertising-text {
        margin-bottom: 20px;
        padding: 0 40px;
    }
    .comic-item .comic-thumb img {
        width: 100%;
    }
    .price-container.long-text-style {
        max-width: 230px;
        margin: 0 auto;
    }
    .text-prices {
        text-align: center;
    }
}
